Flask==1.0.2
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
mysqlclient==1.4.2.post1
virtualenv>=16.5.0
numpy==1.16.2
tensorflow==1.7.0
scipy==1.2.1
scikit-learn==0.21.1
opencv-python
h5py
matplotlib
Pillow
requests
psutil