<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Secure Face Recognize">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>404 NOT FOUND</title>
  <link rel="icon" href="./../static/img/favicon.ico">
  <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron" style="text-align: center;">
      <h1>404 NOT FOUND</h1>
      <p>天若有情天亦老，人间正道是沧桑。</p>
    </div>
    <div style="text-align: center;">
      <a href="/" class="btn btn-outline-dark btn-lg w-100" role="button" style="max-width: 300px;">返回首页</a>
    </div>
    <div class="container mt-5 text-center">
      <span class="text-muted">安全人脸识别.</span>
    </div>
  </div>
</body>
</html>
{# Author: Toby #}