<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Secure Face Recognize">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>安全人脸识别 - 关于</title>
  <link rel="icon" href="./../static/img/favicon.ico">
  <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../static/css/about.css">
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-2 mx-auto flex-column">
  {# 页眉 #}
  <header class="masthead mb-auto text-center">
    <div>
      <h3 class="masthead-brand">加密人脸识别</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">首页</a>
        <a class="nav-link" href="/gain">录取</a>
        <a class="nav-link" href="/info">信息</a>
        <a class="nav-link active" href="/about">关于</a>
      </nav>
    </div>
  </header>
  {# 主体 #}
  <main role="main" class="cover" id="about">
    <div class="container">
      <h2>关于</h2>
      <h5 class="mt-4">承诺与条约</h5>
      <ul>
        <li><p>所有应用自愿使用</p></li>
        <li><p>请勿试图恶意攻击服务器</p></li>
        <li><p>我们将严格保障所有信息安全</p></li>
        <li><p>上传后的Cookie信息最长保留7天</p></li>
        <li><p>Cookie中的信息是本实验项目唯一ID</p></li>
        <li><p>对于您上传的照片数据，仅作为此次实验的数据</p></li>
        <li><p>本系统核心代码均为原创，由主作者花费大量心血制作而成</p></li>
      </ul>
      <h5>更多</h5>
      <ul>
        <li><a href="//caniuse.com/#search=getUserMedia" target="_blank">浏览器要求</a></li>
        <li>iPhone上使用开启摄像头功能需要在隐私设置中开放相机权限</li>
        <li>如遇访问总返回到首页，则需清除当前浏览器的所有Cookie</li>
      </ul>
    </div>
  </main>
  {# 页脚 #}
  <footer class="footer mt-auto text-center">
    <div class="mt-2">
      <p class="mb-0">College from <a href="https://www.zwu.edu.cn/" target="_blank">ZWU</a>
      </p>
    </div>
  </footer>
</div>
{# JS #}
<script src="./../static/js/jquery.min.js"></script>
{# <script src="./../static/js/popper.min.js"></script> #}
<script src="./../static/js/bootstrap.min.js"></script>
<script src="./../static/js/layer/layer.min.js"></script>
<script src="./../static/js/cookie.js"></script>
<script src="./../static/js/about.js"></script>
</body>
</html>
{# Author: Toby #}