<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Secure Face Recognize">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <title>安全人脸识别</title>
  <link rel="icon" href="./../static/img/favicon.ico">
  <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../static/css/index.css">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-2 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div>
      <h3 class="masthead-brand">加密人脸识别</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">首页</a>
        <a class="nav-link" href="/gain">录取</a>
        <a class="nav-link" href="/info">信息</a>
        <a class="nav-link" href="/about">关于</a>
      </nav>
    </div>
  </header>
  <main role="main" class="cover" id="index">
    <h1 class="cover-heading">安全的加密人脸识别</h1>
    <p class="lead">不同于传统人脸识别方案，我在最重要的数据处理环节选择将用户数据加密后存储，即使暴露也不必担心安全问题。</p>
    <p class="lead"><a href="/gain" class="btn btn-lg btn-secondary">开始体验</a>
    </p>
  </main>
  <footer class="footer mt-auto">
    <div class="mt-2">
      <p class="mb-0">College from <a href="https://www.zwu.edu.cn/" target="_blank">ZWU</a> by
      </p>
    </div>
  </footer>
</div>
{# JS #}
<script src="./../static/js/jquery.min.js"></script>
{# <script src="./../static/js/popper.min.js"></script> #}
<script src="./../static/js/bootstrap.min.js"></script>
<script src="./../static/js/index.js"></script>
</body>
</html>
{# Author: Toby #}