/*
 * 全局
 */
#info {
  display: none;
}

/* 浏览器滚动条样式 */

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(51, 51, 51);
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(120, 120, 120);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

/* 链接 */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* 按钮 */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * 基础框架
 */
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
  /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

.cover-container {
  max-width: 42em;
}

/*
 * 头部
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/*
 * 主体
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.user-img {
  max-height: 300px;
}

#click-data {
  display: none;
}

#click-en-data {
  display: none;
}

#prEnData {
  display: none;
}

.tips {
  display: none;
}

.data-body {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.weui-uploader__files {
  padding-left: 0px;
}

.weui-uploader__file {
  margin-bottom: 0px;
  margin-top: 14px;
}

.weui-cells {
  background-color: #333;
}

.weui-uploader__hd {
  padding-bottom: 0px;
}

.weui-uploader__title {
  margin-bottom: 0;
}

.jq-dice-menu {
  z-index: 999;
}

.jq-dice-menu .jq-items li {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.jq-dice-menu .jq-hints .hint {
  border-radius: 0;
}

/*
 * 页脚
 */
.footer {
  color: rgba(255, 255, 255, .5);
}

.face-data {
  min-height: 100px;
}

/*
 * Loading
 */
.loading {
  width: 150px;
  height: 15px;
  margin: 0 auto;
  display: none;
}

.loading span {
  display: inline-block;
  width: 15px;
  height: 100%;
  margin-right: 5px;
  border-radius: 50%;
  background: lightgray;
  -webkit-animation: load 1.04s ease infinite;
}

.loading span:last-child {
  margin-right: 0px;
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading span:nth-child(1) {
  -webkit-animation-delay: 0.13s;
}

.loading span:nth-child(2) {
  -webkit-animation-delay: 0.26s;
}

.loading span:nth-child(3) {
  -webkit-animation-delay: 0.39s;
}

.loading span:nth-child(4) {
  -webkit-animation-delay: 0.52s;
}

.loading span:nth-child(5) {
  -webkit-animation-delay: 0.65s;
}